*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

button{
    cursor: pointer;
}

#content{
    margin-top: 68px;
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 48px;
}

#timeline{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    gap: 52px;
    justify-self: center;
}

#today{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

#tomorrow{
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

#srch-form{
    margin: 1.25rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

form{
    margin: 0px auto;
    display: grid;
    grid-column: 1fr 40px;
    justify-content: center;
    align-items: center;
    gap: 12px
}

#location{
    width: max(50vh, 500px);
    height: 32px;
    border-radius: 15px;
    border: 2px solid #e6d1cc;
    font-size: 16px;
}

#Location-title{
    margin: 2rem;
    padding-left: 1rem;
}

#today,
#tomorrow,
#Location-title,
.hour-card{
    background-color: rgba(255, 255, 255, 0.42);
    border:  3px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.hour-card{
    flex: 1;
    width: 125px;
    padding: 18px;
    height: 100px;
    text-align: center;
}

.hour-card p {
    margin-top: 18px;
}

#today, 
#tomorrow{
    width: 250px;
    height: 200px;
    display: flex;
}

.card-conteiner{
    margin:  28px auto;
    text-align: center;
    font-size: 18px;
}

.card-content{
    margin: 18px 0;
    font-weight: 500;
    font-size: 24px;
}

#change{
    padding: 8px;
    width: 60px;
    height: 46px;
    font-weight: 600;
    font-size: 20px;
}

#btn-location{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("./src/img/magnify.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    grid-column: 2/3;
    grid-row: 1/2;
}

body{
    height: 100vh;
    background-size: 100%;
}

#bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.day{
    background: url("./src/img/sunny.jpeg") no-repeat;
}

.night{
    background: url("./src/img/nigth.jpg") no-repeat;
}
